.jumbotron {
    background-color: blue;
    padding: 10px;
}

#main-title {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 72px;
}

#city-select{
    /* background-color: cornflowerblue; */
    background-color: #FAFAFA;
    scroll-padding-left: 20px;
    text-align: left;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}

#current-info{
    background-color: #FAFAFA;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-left: 50px;
    text-align: left;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}

#forecast-info{
    background-color: white;
}

.forecast-day{
    background-color: dodgerblue;
    width: 105px;
    margin: 10px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

#sticky-footer {
    flex-shrink: none;
  }


/* font-family: 'Kaushan Script', cursive; */